*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(/images/login.jpg)repeat;
    background-position: center;
    background-size: cover;
}
.wrapper{
    background-color: transparent;
    border: 2px solid  rgba(255, 255, 255, .2);
    color: white;
    width: 420px;
    padding: 30px 40px;
    border-radius: 10px;
    backdrop-filter: blur(20px);
}
.wrapper h1{
    text-align: center;
    font-size: 35px;

}
.wrapper .input{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 30px 0;
}
.input input{ 
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    padding: 20px;
}
.input input::placeholder{
    color: white;
    
}
.input i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.wrapper .rember-forget{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}
.rember-forget a{
    color: white;
    text-decoration: none;
}
.rember-forget a:hover{
    text-decoration: underline;
}
.wrapper .btn{
    width: 100%;
    height: 45px;
    border: none;
    background-color: white;
    border-radius: 45px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}
.wrapper .register{
    color: white;
    text-align: center;
    margin-top: 20px;
}
.register a{
    color: white;
    text-decoration: none;
    padding-left: 5px;
}
.register a:hover{
    text-decoration: underline;
}
